body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    min-height: 100vh;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray; 
    padding: 10px 0; 
    width: 100%; /* Ensure the nav takes full width */
}

nav ul {
    list-style-type: none; 
    display: flex; 
    gap: 80px; 
    justify-content: center; /* Center the links within the nav */
}

nav ul li a {
    color: #ffffff; 
    text-decoration: none; 
    font-weight: bold; 
}

.nav-link {
    padding: 10px 20px;
    display: inline-block;
    color: gray;
    text-decoration: none;
    border-radius: 4px;
}

.nav-link:hover {
    background-color: black;
}

h1 {
    text-align: center;
    padding-top: 20%;
}

p {
    text-align: center;
    padding-bottom: 20%;
}

.gametitle {
    margin-top: 10px;
    background-color: grey;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/originals/70/d6/b3/70d6b3aaf2857dce05601505b8ca7db0.jpg'); 
    background-size: cover;
    background-position: center;
    color: #ffffff;
    min-height: 100vh;
}

hr {
    border-top: 1px solid black;
}

.bottom {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
