body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    min-height: 100vh;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    padding-top: 20%;
}

p {
    text-align: center;
    padding-bottom: 20%;
}

.gametitle {
    margin-top: 10px;
    background-color: grey;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/originals/70/d6/b3/70d6b3aaf2857dce05601505b8ca7db0.jpg'); 
    background-size: cover;
    background-position: center;
    color: #ffffff;
    min-height: 100vh;
}

hr {
    border-top: 1px solid black;
}

.bottom {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
