body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: 50%;
    background-position: center;
    color: #ffffff;
    min-height: 100vh;
    background-color: #111111;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgrey; /* Adjusted for visibility */
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 80px;
}

nav ul li a {
    color: #000000; /* Changed to black for better contrast */
    text-decoration: none;
    font-weight: bold;
}

.nav-link {
    padding: 10px 20px;
    display: inline-block;
    color: gray; /* Consider adjusting for better visibility */
    text-decoration: none;
    border-radius: 4px;
}

.nav-link:hover {
    background-color: #555555; /* Lightened for visibility against dark theme */
    color: white; /* Ensures text remains visible on hover */
}

h1, h2 {
    text-align: center;
    font-size: 40px; /* Made consistent with h2 */
}

p {
    text-align: center;
    padding-bottom: 20%;
}

.top {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 100vh;
}

.top h1 {
    text-align: center;
    padding: 0px;
}

.name {
    text-align: center;
    background-color: #5E4955;
    padding: 20%;
}

div {
    padding: 10%;
    text-align: center;
}
