body {
    margin: 0;
    padding: 0;
    background-image: url('https://i1.sndcdn.com/artworks-EOdkacVkqAyF12kj-WuxnFQ-t500x500.jpg');
    background-size: cover;
    background-position: center;
}

.content {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}
